
.row.calculator{
    margin-top: 400px;
}

.space-top{
    margin-top: 20%;
}


.calculator{
margin-top: 0%;
background-color: gray;
border-radius: 20px;
padding: 10px;
}

/* form.calculator {
    width: 60px;
    height: 60px;
   
} */

.calculator input{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background: transparent;
    box-shadow: 0 0.11rem 1rem white;
    font-size: 20px;
    /* columns: re; */
    border-radius: 10px;
    margin: 5px;

}


form .display{
    display: flex;


}

form .display input{
text-align: right;
box-shadow: none;
border: none;
width: 240px;
}


form input.equal{
    width: 115px;
}

.operator{
    color: aqua;
}